<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">
  {% if explain: %}
    <div class="row">
      <h2>
        Get all polygons with tags
      </h2>

      <div class="step polygons">
        <div class="description">
          Select polygons which:
          <ul>
            <li>have a given tag</li>
            <li>contain a node with a given tag (and building = true)</li>
            <li>have not the attribute access = private</li>
          </ul>
        </div>

        <div class="map">
          {{ aoi_generator.polygons_html() | safe }}
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Cluster polygons with DBSCAN</h2>

      <div class="step cluster">
        <div class="description">
          Cluster polygons by using DBSCAN algorithm, wheras the parameters
          minPts and eps are different depending on the location of the of the
          polygons (local adaption).
        </div>

        <div class="map">
          {{ aoi_generator.clusters_html() | safe }}
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Create {{aoi_generator.hull_algorithm}} hulls arround clusters</h2>

      <div class="step hulls">
        <div class="description">
          Convex or concave hulls are possible and results obviously in different
          hulls. This can be selected one page before.
        </div>

        <div class="map">
          {{ aoi_generator.clusters_and_hulls_html() | safe }}
        </div>
      </div>
    </div>

  {% if extend_network_centrality: %}
    <div class="row">
      <h2>Extend using network centrality</h2>
      <div class="step aoi">
        <div class="description">
          Steps:
          <ul>
            <li>calculate closeness centrality of street graph for each hull (inkl buffer)</li>
            <li>select 10% of the most central streets and ways</li>
            <li>cut streets which are leaving the hull after 50 meters</li>
            <li>extend hulls by drawing concave hull arround hull and selected and cut streets</li>
          </ul>

          Illustrated on the map are:
          <ul>
            <li>hulls before (violet)</li>
            <li>10% most central streets (blue)</li>
            <li>extension of hulls (red)</li>
          </ul>
        </div>

        <div class="map">
          {{ aoi_generator.network_centrality_html() | safe }}
        </div>
      </div>
    </div>
  {% endif %}

    <div class="row">
      <h2>Exclude waterways and water</h2>
      <div class="step aoi">
        <div class="description">
          If present...
        </div>

        <div class="map">
          {{ aoi_generator.without_water_html() | safe }}
        </div>
      </div>
    </div>

    <div class="row">
      <h2>Sanitize</h2>
      <div class="step aoi">
        <div class="description">
          <ul>
            <li>union overlapping polygons (ST_Union)</li>
            <li>simplify polygons slightly (ST_Simplify(5))</li>
            <li>remove invalid polygons (ST_IsValid AND NOT ST_IsEmpty)</li>
          </ul>
        </div>

        <div class="map">
          {{ aoi_generator.sanitize_aois_html() | safe }}
        </div>
      </div>
    </div>

  {% endif %}
    <div class="row">
      <h2>OpenStreetMap AOI</h2>
      <div class="step aoi">
        <div class="description">
        </div>

        <div class="map">
          {{ aoi_generator.aois_html() | safe }}
        </div>
      </div>
    </div>

    <div class="row">
      <a class="btn btn-default back" href="{{ url_for('index') }}">Generate other AOI</a>
    </div>
  </div>
{% endblock %}
