{% import 'bootstrap/wtf.html' as wtf %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <h1>AOIs with OpenStreetMap</h1>

  <p class="introduction">
  Either <a href="browse">browse all AOIs of Switzerland</a> (<a href="gmaps">overlay on
    GMaps</a>) or generate them for a specific location.
  </p>

  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="row">
      <div class="col-md-4">
      {{ wtf.form_field(form.location) }}
      </div>

      <div class="col-md-offset-1 col-md-4">
      {{ wtf.form_field(form.custom_location) }}
      </div>
    </div>

    <div class="row">
      {{ wtf.form_field(form.tags) }}
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="form-group ">
          <label class="control-label" for="hull_algorithm">{{ form.hull_algorithm.label }}: </label>

          {{ wtf.form_field(form.hull_algorithm, class="form-control") }}
        </div>
      </div>
    </div>

    <div class="row">
      {{ wtf.form_field(form.extend_network_centrality) }}
    </div>

    <div class="row">
      {{ wtf.form_field(form.explain) }}
    </div>

    <div class="row submit">
      {{ wtf.form_field(form.submit) }}
    </div>
  </form>
</div>
{% endblock %}
