{% import 'bootstrap/wtf.html' as wtf %}

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

{% extends "bootstrap/base.html" %}

{% block content %}
<div class="container">
  <h1>AOI with OpenStreetMap</h1>

  <form class="form form-horizontal" method="post" role="form">
    {{ form.hidden_tag() }}
    {{ wtf.form_errors(form, hiddens="only") }}

    <div class="row">
      <div class="col-md-4">
      {{ wtf.form_field(form.location) }}
      </div>

      <div class="col-md-offset-1 col-md-4">
      {{ wtf.form_field(form.custom_location) }}
      </div>
    </div>

    <div class="row">
      {{ wtf.form_field(form.tags) }}
    </div>

    <div class="row">
      <div class="col-md-4">
      {{ wtf.form_field(form.dbscan_eps) }}
      </div>

      <div class="col-md-offset-1 col-md-4">
      {{ wtf.form_field(form.dbscan_minpoints) }}
      </div>
    </div>

    {{ wtf.form_field(form.submit) }}

    Or <a href="browse">browse all AOIs</a> / <a href="gmaps">overlay AOIs on GMaps</a>
  </form>
</div>
{% endblock %}
