
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <h2>No AOI in given location.</h2>
  </div>

  <div class="row">
    <a class="btn btn-default back" href="{{ url_for('index') }}">Try different location</a>
  </div>
</div>
{% endblock %}
